@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/mixins/container";
@import "../node_modules/bootstrap/scss/mixins/grid";
@import "../node_modules/bootstrap/scss/mixins/utilities";
@import "../node_modules/bootstrap/scss/containers";

.edit-post-visual-editor__content-area .wp-block {
	&[data-type="acf/p-a-list-videos-column"] {
		@include make-col-ready();

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}
	}

	&[data-type="acf/p-a-feature-post"] {
		@include make-col-ready();

		@include media-breakpoint-up(md) {
			@include make-col(8);
		}
	}
}