/** Title */
.single-title {
  font: normal bold 20px/26px 'Noto Sans', Arial, Verdana, Tahoma, sans-serif;
  color: var(--pa-color-default);
}

/** Vídeo Responsivo */
.embed-container {
  position: relative;
  padding-bottom: 61.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Separators */
.separator {
  margin: 40px 0;
}

.pa-header h1 {
  @media(max-width: 575px) {
    font-size: 2.1rem !important;
  }

  span {
    white-space: nowrap;
  }
}

.pa-icon-play {
  font-size: 5rem;
  color: rgba(255,255,255, 0.8);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
